
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Counter</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Count: {{ user_point }}</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Increase Count</button>
        <a href="{% url 'interface' %}">
            <button type="button" class="btn btn-dark">Back</button>
        </a>
    </form>
</body>
</html>
